<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.archx.txblog.data.mapper.UserMapper">

    <select id="findByUsername" parameterType="string" resultType="io.archx.txblog.data.domain.User">
        select id, username, password, salt, email, state, created_at, updated_at from tx_user where username = #{username}
    </select>

</mapper>